.wrapper {
  margin-top: 4rem;
}

.wrapper > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

.wrapper > header span {
  color: var(--gray-200);
  background: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
  margin-left: 0.5rem;
  width: 1.5625rem;
  height: 1.1875rem;
}

.completedTasksCount {
  color: var(--purple-300);
}

.createdTasksCount {
  color: var(--blue-300);
}

.emptyList {
  border-top: 1px solid var(--gray-400);
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

.tasksList {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.75rem;
}
