.wrapper {
  margin-top: 4rem;
}

.wrapper > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

.wrapper > header span {
  color: var(--gray-200);
  background: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
  margin-left: 0.5rem;
  width: 1.5625rem;
  height: 1.1875rem;
}

.completedTasksCount {
  color: var(--purple-300);
}

.createdTasksCount {
  color: var(--blue-300);
}

.emptyList {
  border-top: 1px solid var(--gray-400);
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

.tasksList {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.75rem;
}

.tasksList li {
  background: var(--gray-500);
  padding: 1rem;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.75rem;

  font-size: 0.875rem;
}

.tasksList li input[type='checkbox'] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.tasksList li span {
  border-radius: 50%;
  height: 1.1rem;
  flex: 0 0 1.1rem;
}

.tasksList li span:hover {
  cursor: pointer;
}

.checkbox {
  display: inline-block;
  border: 2px solid var(--blue-300);
}

.checkbox:hover {
  background: var(--blue-600);
  opacity: 0.25;
}

.checkboxActive {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--purple-600);
  color: var(--gray-100);
}

.checkboxActive:hover {
  background: var(--purple-300);
}

.tasksList li label {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.tasksList li button {
  line-height: 0;
  border: 0;
  background: transparent;
  color: var(--gray-300);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
}

.tasksList li button:hover {
  background: var(--gray-400);
  color: var(--danger);
  cursor: pointer;
}

.defaultTask {
  color: var(--gray-100);
}

.checkedTask {
  color: var(--gray-300);
  text-decoration: line-through;
}
